@model IEnumerable<tez.Models.Tbl_İlan>
@{
    ViewBag.Title = "İlanlar";
    Layout = Layout = "~/Views/Shared/Keşfet2.cshtml";
}

@using (@Html.BeginForm("İlanlar", "Keşfet2", FormMethod.Get))
{
    <p>
        <h3>Arama...</h3>@Html.TextBox("ara", null, new { @autocomplete = "off", @placeholder = "Arama.." })

        <button class="btn btn-primary btn-sm" type="submit" value="Ara"> <i class="glyphicon glyphicon-search"></i></button>

        <br />
    </p>
}
<br />

<table class="table table-bordered styled-table">
    <tr>
        <th>Sıra No</th>
        <th>İlan Sahibi</th>
        <th>Başlık</th>
        <th>Pozisyon</th>
        <th>Adres</th>
        <th>Tecrübe</th>
        <th>Seçenekler</th>
    </tr>
    @{ int i = 0;}
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <div>
                        @{
                            i++;
                        }
                    </div>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ilan_sahibi)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Baslik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pozisyon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tecrube)
                </td>
                <td>

                    @Html.ActionLink("İncele", "İlanDet", new { id = item.ID })



                </td>

            </tr>
        }
    <tbody>
</table>
